<h1>Listing reviews</h1>

<table>
  <tr>
    <th>Publication</th>
    <th>Body</th>
  </tr>

<% for review in @reviews %>
  <tr class="<%= cycle('tr0','tr1') %>">
    <td><%=h review.publication %></td>
    <td><%=h review.body %></td>
    <td><%= link_to 'Show', review %></td>
    <td><%= link_to 'Edit', edit_review_path(review) %></td>
    <td><%= link_to 'Destroy', review, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New review', new_review_path %>
